.tks-link-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 1em;
    font-family: 'Oswald', Sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    padding-left: 0;
    margin-left: 0;
    list-style: none;
    li {
        display: block;
        font: inherit;
        a {
            display: block;
            font: inherit;
            text-transform: uppercase;
        }
    }
}
