.tks-video-iframe {
    aspect-ratio: 16 / 9;
    width: 100%;
}
.tks-video-caption {
    margin-top: 15px;
    text-align: center;
    color: $preto;
    font-family: 'Oswald', Sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2.2px;
}
